* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: cornsilk;
}

.container {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: coral;
}

button {
    padding: 15px;
    margin: 12px;
    font-size: 25px;
    border: none;
    cursor: pointer;
}

.blue {
    background-color: greenyellow;
    color: white;
}

#input {
    margin: 22px;
    height: 70px;
    overflow: hidden;
    max-width: 270px;
}