*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: cornsilk;
}

.container{
    height: 400px;
    
    width: 400px;
    background-color: black;
}

.upper {
    display: flex;
    justify-content: space-between;
}

.output {
    border-top: 2px solid white;
    padding: 40px;
    text-align: center;
    font-size: 25px;
    color: white;
}

h1 {
    margin: 18px;
    color: white;
}

button {
    border: 2px solid white;
    margin: 15px;
    padding: 18px;
    background-color: black;
    color: white;
    font-size: 15px;
}